{% load static %}
<hr>
<div class="container">
<!--  <div class="row">-->
       <center>
       <p>
         <span style="padding-right: 15px">
           <img src="{% static 'vendor/img/pay/visa-png.jpeg' %}" width="37" height="23">
         </span>
         <span style="padding-right: 15px">
           <img src="{% static 'vendor/img/pay/visa-electron-png.jpeg' %}" width="37" height="23">
         </span>
         <span style="padding-right: 15px">
           <img src="{% static 'vendor/img/pay/pay-pal-png.jpeg' %}" width="37" height="23">
         </span>
         <span style="padding-right: 15px">
           <img src="{% static 'vendor/img/pay/maestro-png.jpeg' %}" width="37" height="23">
         </span>
         <span style="padding-right: 15px">
           <img src="{% static 'vendor/img/pay/mastercard-png.jpeg' %}" width="37" height="23">
         </span>
         <span style="padding-right: 15px">
           <img src="{% static 'vendor/img/pay/american-express-png.jpeg' %}" width="37" height="23">
         </span>
       </p>
       </center>
<!--  </div>-->
</div>
<!--<p class="text-center">-->
<!--                <img src="{% static 'vendor/img/pay/visa-png.jpeg' %}" width="45" height="35">-->
<!--                <img src="{% static 'vendor/img/pay/visa-electron-png.jpeg' %}" width="45" height="35">-->
<!--                <img src="{% static 'vendor/img/pay/pay-pal-png.jpeg' %}" width="45" height="35">-->
<!--            </p>-->
<footer class="py-3" style="background-color: #06bdbd">
<!--    <div class="container" >-->
<!--&lt;!&ndash;        <div class="row">&ndash;&gt;-->

<!--            <center>-->
<!--&lt;!&ndash;             <img src="{% static 'vendor/img/pay/visa-png.jpeg' %}" width="35" height="25">&ndash;&gt;-->
<!--             <b>-->
<!--              <span style="color: black"><img src="{% static 'vendor/img/headers/label.png' %}" width="35" height="30" alt="">COLIBRI</span>-->
<!--            </b>-->
<!--           </center>-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--    </div>-->
    <div class="container py-5">
       <div class="row">
        <div class="container col-3">
            <p class="text-center"><b>HELP & INFORMATION</b></p>
            <hr>
            <a href=#><p class="text-center" style="color: #818182">Help</p></a>
            <a href=#><p class="text-center" style="color: #818182">Track order</p></a>
            <a href=#><p class="text-center" style="color: #818182">Delivery & returns</p></a>
        </div>
        <div class="container col-3">
            <p class="text-center"><b>ABOUT COLIBRI</b></p>
            <hr>
            <a href=#><p class="text-center" style="color: #818182">About us</p></a>
            <a href=#><p class="text-center" style="color: #818182">Careers at COLIBRI</p></a>
            <a href=#><p class="text-center" style="color: #818182">Corporate responsibility</p></a>
        </div>
        <div class="container col-3">
            <p class="text-center"><b>MORE FROM</b></p>
            <hr>
            <a href=#><p class="text-center" style="color: #818182">Marketplace</p></a>
            <a href=#><p class="text-center" style="color: #818182">Gift vouchers</p></a>
            <a href=#><p class="text-center" style="color: #818182">Mobile and COLIBRI apps</p></a>
        </div>
        <div class="container col-3">
            <p class="text-center"><b>SHOPPING FROM</b></p>
            <hr>
            <a href=#><p class="text-center" style="color: #818182"><span>You're in </span> | <b>CHANGE</b></p></a>
        </div>
       </div>
    </div>
    <div class="container" >
<!--        <div class="row">-->

            <center>
<!--             <img src="{% static 'vendor/img/pay/visa-png.jpeg' %}" width="35" height="25">-->
             <b>
              <span style="color: black"><img src="{% static 'vendor/img/headers/label.png' %}" width="35" height="30" alt="">COLIBRI</span>
            </b>
           </center>
<!--        </div>-->
    </div>
</footer>