{% extends 'base.html' %}
  {% load static humanize %}

    {% block css %}
        <link href="{% static 'vendor/css/basket.css' %}" rel="stylesheet">
    {% endblock %}

    {% block content %}
      {% if baskets %}
      <div style="background-color: #f5f5f5">
      <div class="container col-lg-12 py-3">
          <h3 style="padding-top: 100px">
              Корзина
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                {{ baskets.total_quantity }}
              <span class="visually-hidden"></span>
          </span>
          </h3>
      </div>
          <div class="container col-lg-12 py-5 col-12">
              <div class="row">
                  <div class="container col-lg-8" style="background-color: white">
                    <p style="padding-top: 10px; padding-left: 20px">
                        Товары
                    </p>
                    <hr>
                    <div class="col-lg-12 py-3" style="background-color: #f5f5f5">
                      Доставка Colibri
                  </div>
                  {% for basket in baskets %}
                      <div class="container py-4 col-12">
                         <div class="row">
                            <div class="image col-lg-2 col-3">
                                <img src="{{ basket.product.image.url }}" width="100px" height="120px">
<!--                               <img src="{% static 'vendor/img/products/Black-Dr-Martens-shoes.png' %}" width="120px" height="120px">-->
                            </div>
                            <div class="text col-lg-6 col-6">
                               <p>
                                   <a href="{% url 'products:product' basket.product.id %}">
                                       <b style="color: black">
                                           {{ basket.product.name }}
                                       </b>
                                   </a>
                               </p>
                               <p class="small text-muted font-weight-light">
                                   {{ basket.product.description }}
                               </p>
                               <div class="row">
                                  <p class="small text-muted font-weight-light col-lg-3 col-1">
                                     {{ basket.quantity }} шт.
                                  </p>
                                  <p class="small text-muted font-weight-light">

                                      {% if basket.product in user.favorite_product.all %}
                                            <span>В избранном|</span>
                                            <a href="{% url 'products:favorite_remove' basket.product.id %}">
                                                Удалить
                                            </a>
                                      {% else %}
                                            <a href="{% url 'products:favorite_add' basket.product.id %}">В избранное|</a>
                                            <span>Удалить</span>
                                      {% endif %}
                                  </p>
                               </div>
                            </div>
                            <div class="col-lg-2 col-3" style="border-radius: 5px;">
                               <span class="py-1" style="background-color: #15cf04; color: white; border-radius: 10px">&nbsp;{{ basket.sum|intcomma }} ₽&nbsp;</span>
                            </div>
                            <div class="row">
                                    <a href="{% url 'products:product_remove_in_basket' basket.product.id %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#00c7fc}</style><path d="M432 256c0 17.7-14.3 32-32 32L48 288c-17.7 0-32-14.3-32-32s14.3-32 32-32l352 0c17.7 0 32 14.3 32 32z"/></svg>
                                    </a>
                                    <div style="padding-right: 10px; padding-left: 10px">
                                        <input style="border-radius: 8px; padding-right: 15px; text-align: center;" type="number" id="quantity" name="quantity" value="{{ basket.quantity }}" min="1" max="10" inputmode="numeric">
                                    </div>
                                    <a href="{% url 'products:basket_add' basket.product.id %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="1.5em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#53d5fd}</style><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
                                    </a>
                            </div>
                         </div>
                      </div>
                      <hr>
                  {% endfor %}
              </div>

          <div class="container col-lg-3 col-12" style="background-color: white; max-height: 420px; overflow-y: auto;">
             <div style="padding-top: 20px">
                <a href="{% url 'orders:order_create' %}">
                   <button class="btn col-lg-12 py-3" style="background-color: #15cf04; border-radius: 10px">
                       <span class="font-weight-light" style="color: white">Перейти к оформлению</span>
                   </button>
                </a>
                <center>
                   <p class="small text-muted font-weight-light py-2">
                      Доступные способы и время доставки можно выбрать при оформлении заказа
                   </p>
                </center>
                <hr>
                <div class="container py-2">
                   <div class="row">
                      <b class="col-lg-8">
                          Ваша корзина
                      </b>
                      <span class="small text-muted font-weight-light">
                         {{ baskets.total_quantity }} товара • 3 кг
                      </span>
                      <span class="small font-weight-light col-lg-8 py-3">
                          Товары({{ baskets.total_quantity }})
                      </span>
                      <span class="small col-lg-4 py-3">
                          <b>
                              {{ baskets.total_sum|intcomma }} ₽
                          </b>
                      </span>
                      <span class="small font-weight-light col-lg-8">
                          Скидка
                      </span>
                      <span class="small col-lg-4">
                          <b style="color: #c82333">
                                - 0 ₽
                          </b>
                      </span>
                   </div>
                </div>
                <hr>
                <div class="container">
                   <div class="row">
                      <b class="col-lg-8">
                          С Colibri промокодом
                      </b>
                      <b class="col-lg-4">
                          {{ baskets.total_sum|intcomma }} ₽
                      </b>
                      <span class="small text-muted font-weight-light col-lg-8 py-2">Без Colibri промокода</span>
                      <span class="small text-muted col-lg-4 py-2">{{ baskets.total_sum|intcomma }} ₽</span>
                   </div>
                </div>
             </div>
          </div>
        </div>
       </div>
      </div>
    </div>
    </div>
      {% else %}
        Корзина пуста
      {% endif %}

    {% endblock %}